@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lovers+Quarrel&family=Space+Grotesk:wght@300..700&display=swap');
 
body {font-family: Space Grotesk", sans-serif;}
 
.topbar {font-family: Space Grotesk", sans-serif;}
 
.navbar {font-family: Space Grotesk", sans-serif;}

@media screen and (min-width: 601px) { 
body {
background: url('https://wallpapercave.com/wp/wp5718375.jpg') center center fixed;
background-size: 100%;
color: #HEX; } }