@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
 
body {font-family: "Tangerine", cursive;}
 
.topbar {font-family: "Tangerine", cursive;}
 
.navbar {font-family: "Tangerine", cursive;}

@media screen and (min-width: 601px) { 
body {
background: url('https://cdn.discordapp.com/attachments/1292793161931817012/1525128208461070468/jake-weirick-0fhQYNv2nzE-unsplash.jpg?ex=6a5241d4&is=6a50f054&hm=491493157a2762e3e397857239af016bc8d2e790b5b799d0847661fc8a8d05e6') center center fixed;
background-size: 100%;
color: #HEX; } }

 
::-webkit-scrollbar {
width: 7px;
height: 7px; }
::-webkit-scrollbar-track {
background: #9A90B3;}
::-webkit-scrollbar-thumb {
background: #6F7A91; } 
 
h1 {
color: #E3BD71 !important;
font-size: 64px;
text-align: center !important;
font-family: "Tangerine", cursive;}

h2 {
color: #HEX !important;
font-size: 24px;}

h3 {
color: #E3BD71 !important;
font-size: 18px;}

a:link,
a:visited {
color: #HEX !important;
background: none !important; }
   
a:hover {
color: #HEX !important; }
 
.container.main {
background: rgba(55, 58, 39, 1.0);
border: none;
box-shadow: none;
border-radius: 5px; }
.col-md-9 {
background: none; } 
 
.topbar {
background: #HEX !important;
color: #HEX !important;
border: none !important;
border-radius: 0px !important;  }
 
.navbar {
background: #HEX !important;
color: #HEX !important;
border: none !important;
border-radius: 0px !important; }

.navbar li a:hover {
background: #HEX !important;
color: #e4a574 !important; }

.navbar-toggle {
border: none !important;
background: #HEX !important;
}

.navbar-collapse {
box-shadow: none !important;
border-top: none !important;
}

.breadcrumb {
background: #HEX !important;
color: #HEX !important;
border: none !important;
border-radius: 0px !important;} 
.breadcrumb .active {
color: #HEX; }
 
.alert {
background: #HEX !important;
color: #HEX !important;
border: none !important;
border-radius: 0px !important;
text-align: center !important;  }
.alert-warning {
background: #HEX !important;
color: #HEX !important;}
.alert-danger {
background: #HEX !important;
color: #HEX !important;}
.alert-success {
background: #HEX !important;
color: #HEX !important;}
   
.progress-bar {
background: #HEX !important; 
border-radius: 0px !important; }

.progress-bar-warning { 
background: #HEX !important;
color: #HEX !important;}
/* HUNGER */ .progress-bar-danger { 
background: #HEX !important;
color: #HEX !important;}
/* EXP + ACHIEVEMENTS */ .progress-bar-success { 
background: #HEX !important;
color: #HEX !important;}

.progress div {
color: #HEX !important; }

.progress {
background:  #HEX;
color: #HEX !important;
border-radius: 0px !important;  }

img[src$="icon_warning.png"] {
content: url('imagelink') !important;
width: 24px !important; }

button#label_currentChannel {
border: none !important;
background: #HEX !important; }

div#chatMessageContainer {
border: none !important; }

.s-chat-message_timestamp {
color: #HEX !important; }

.s-chat-sidebar #fraChatChannelMenu,
button.channelSwitcher, button.channelSwitcher.active {
    background: #HEX !important;
color: #HEX !important;	
border: none !important;
border-radius: 0px !important;
box-shadow: none !important; }

div.emoteList.active {
  background: #HEX !important;
  border: 1px solid #HEX !important;
  box-shadow: none !important;
}
div.emoteList.active::before {
background: #HEX
border-top: none !important;
border: 1px solid #HEX !important; }

.s-chat-message__pinned {
background-color: #HEX !important;
color: #HEX !important;
border: none !important; }

.s-chat-message {
background: #HEX !important;
color: #HEX !important;
border-bottom: #HEX !important; }

.s-chat-message:nth-child(even) {
background: #HEX !important;
border: none !important; }
.s-chat-message:nth-child(odd) {
background: #HEX !important;
border: none !important; }
	
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
background-color: #HEX !important;
border-left: 6px solid #HEX !important;
color: #HEX !important; }

div#lblCharacterCounter {
color: #HEX !important; }

html.nolayout {
background: none !important; }

 
.feature {
background: #HEX !important;
color: #HEX !important;
border: 3px double #HEX !important;
border-radius: 0px !important;  }

div.left {
background: #HEX !important;
color: #HEX !important;
border: none !important;
border-radius: 0px !important; }

.xsmall {
font-size: 14px !important; }